<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <title>Автомобильный сайт</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="row">
    <div class="col-lg-12 pb-3">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">Легендарные автомобили</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tech">Автомобильные технологии</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new">Автоновинки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Проекты автоблоггеров</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">О сайте</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 pb-3">
        <div class="d-flex justify-content-center"><h1>Автомобильные новинки</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 pb-3 ps-5">
            <div class="d-flex justify-content-center"><h5>Здесь вы можете увидеть топ самых продаевамых автомобилей
                2021 года. Также про каждую из этих моделей вы
                можете почитать подробнее.</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col-lg-12 col-sm-12 pb-5 ps-5">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="https://autoru-mag.s3.yandex.net/2019/12/27/dd0891db4e574e36b045fa9962ef5665.jpg"
                                 class="d-block" width="1200px" height="675px">
                            <div class="d-flex justify-content-center">
                                <h4 style="color : black;  padding: 6px;   text-shadow: 1px 1px 11px black, 0 0 50px blue">
                                    Бестселлер рынка — <a href="http://russoauto.ru/auto/vaz/granta">Lada Granta </a>
                                </h4>
                            </div>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://autoru-mag.s3.yandex.net/2019/12/27/892f12f8527f47d98eb6f8d475d28460.jpg"
                                 class="d-block" width="1200px" height="675px">
                            <div class="d-flex justify-content-center">
                                <h4 style="color : black;  padding: 6px;   text-shadow: 1px 1px 11px black, 0 0 50px blue">
                                    Продажи <a href="http://www.ladavesta.net/history.html"> Lada
                                    Vesta</a> выросли на 2,1%.</h4>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://autoru-mag.s3.yandex.net/2020/11/09/30eac02e800d4815a017c9c8ce767ed6.jpeg"
                                 class="d-block" width="1200px" height="675px">
                            <div class="d-flex justify-content-center">
                                <h4 style="color : black;  padding: 6px;   text-shadow: 1px 1px 11px black, 0 0 50px blue">
                                    Продажи <a
                                        href="https://autonissancar.ru/kia/rio/pokoleniya-ili-modeli-kia-rio-po-godam">
                                    Kia Rio</a> за месяц выросли на рекордные для модели 53%.</h4>
                            </div>
                        </div>


                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://autoru-mag.s3.yandex.net/2020/12/08/f692e0439a994391b749b394ecfebf1f.jpg"
                                 class="d-block" width="1200px" height="675px">
                            <div class="d-flex justify-content-center">
                                <h4 style="color : black;  padding: 6px;   text-shadow: 1px 1px 11px black, 0 0 50px blue">
                                    Спрос на <a href="https://auto-mf.ru/hyundai-creta-krossover/">Hyundai Creta</a>
                                    вырос
                                    на 30%.</h4>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://autoru-mag.s3.yandex.net/2020/08/13/bb1273a316ec48c9974299828b2c64c9.jpg"
                                 class="d-block" width="1200px" height="675px">
                            <div class="d-flex justify-content-center">
                                <h4 style="color : black;  padding: 6px;   text-shadow: 1px 1px 11px black, 0 0 50px blue">
                                    Обновлённый <a href="https://wroom.ru/cars/volkswagen/polo/history"> Volkswagen
                                    Polo</a>
                                    продолжает радовать дилеров и покупателей: плюс 4,2% с
                                    начала
                                    года.</h4>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://autoru-mag.s3.yandex.net/2020/11/09/9b76685e39c543b380cf5dc5d1b437c8.jpg"
                                 class="d-block" width="1200px" height="675px">
                            <div class="d-flex justify-content-center">
                                <h4 style="color : black;  padding: 6px;   text-shadow: 1px 1px 11px black, 0 0 50px blue">
                                    Обновлённый Hyundai Solaris завершил декабрь на позитивной ноте: плюс 22,2%.</h4>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://autoru-mag.s3.yandex.net/2019/12/27/596bb3b9e83943bdb660cda71dd387c0.jpg"
                                 class="d-block" width="1200px" height="675px">
                            <div class="d-flex justify-content-center">
                                <h4 style="color : black;  padding: 6px;   text-shadow: 1px 1px 11px black, 0 0 50px blue">
                                    Продажи
                                    Lada Largus выросли на 18,8%.</h4>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://autoru-mag.s3.yandex.net/2019/12/27/016ad0ed1c6b4213bd0dc20ed6a2775d.jpg"
                                 class="d-block" width="1200px" height="675px">
                            <div class="d-flex justify-content-center">
                                <h4 style="color : black;  padding: 6px;   text-shadow: 1px 1px 11px black, 0 0 50px blue">
                                    Toyota
                                    RAV4 установил рекордный рост популярности с начала года.</h4>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://autoru-mag.s3.yandex.net/2020/11/09/ffa9adbf41bd4c0c90b5dd90e01d3f55.jpg"
                                 class="d-block" width="1200px" height="675px">
                            <div class="d-flex justify-content-center">
                                <h4 style="color : black;  padding: 6px;   text-shadow: 1px 1px 11px black, 0 0 50px blue">
                                    Продажи
                                    Volkswagen Tiguan падают третий месяц подряд. На этот раз — минус 38,7%.</h4>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://autoru-mag.s3.yandex.net/2019/12/27/8a95cef0b75e46c4a8dbc586a49a1f33.jpg"
                                 class="d-block" width="1200px" height="675px">
                            <div class="d-flex justify-content-center">
                                <h4 style="color : black;  padding: 6px;   text-shadow: 1px 1px 11px black, 0 0 50px blue">
                                    Спрос на
                                    Renault Logan сильно упал после двух хороших взлётов: минус 26,6% в декабре.</h4>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://autoru-mag.s3.yandex.net/2019/12/27/8c1f153dc45b44abb0e330715a8cd96b.jpg"
                                 class="d-block" width="1200px" height="675px">
                            <div class="d-flex justify-content-center">
                                <h4 style="color : black;  padding: 6px;   text-shadow: 1px 1px 11px black, 0 0 50px blue">
                                    Декабрьские продажи Renault Duster снизились на 17,7%.</h4>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://autoru-mag.s3.yandex.net/2020/02/27/001015fe63b249d38e86e497f24a4764.jpg"
                                 class="d-block" width="1200px" height="675px">
                            <div class="d-flex justify-content-center">
                                <h4 style="color : black;  padding: 6px;   text-shadow: 1px 1px 11px black, 0 0 50px blue">
                                    Lada
                                    4x4
                                    прибавила к результату декабря-2019 не очень много — плюс 7,7%.</h4>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://autoru-mag.s3.yandex.net/2019/12/27/8765d2b56f624e4eaf5a27f44a0bfd4b.jpg"
                                 class="d-block" width="1200px" height="675px">
                            <div class="d-flex justify-content-center">
                                <h4 style="color : black;  padding: 6px;   text-shadow: 1px 1px 11px black, 0 0 50px blue">
                                    Kia
                                    Sportage усилил ноябрьское падение: минус 23,7% в декабре.</h4>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://autoru-mag.s3.yandex.net/2019/12/27/05afb4c2a70f4435aef4c522243c8eed.jpg"
                                 class="d-block" width="1200px" height="675px">
                            <div class="d-flex justify-content-center">
                                <h4 style="color : black;  padding: 6px;   text-shadow: 1px 1px 11px black, 0 0 50px blue">
                                    За
                                    год
                                    Toyota Camry лишь дважды выходила в плюс. В декабре спрос снизился на серьёзные
                                    17,8%.</h4>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://autoru-mag.s3.yandex.net/2020/09/07/14488b42549340319025f2a77b228b7f.jpg"
                                 class="d-block" width="1200px" height="675px">
                            <div class="d-flex justify-content-center">
                                <h4 style="color : black;  padding: 6px;   text-shadow: 1px 1px 11px black, 0 0 50px blue">
                                    Skoda
                                    Rapid нового поколения вырос в продажах на 19,4% относительно предшественника.</h4>
                            </div>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 pb-3">
        <div class="d-flex justify-content-center"><h1>
            20 самых ожидаемых новинок 2020 года</h1>
        </div>
    </div>
    <div class="col-lg-12 pb-3">
        <div class="d-flex justify-content-center"><h1
                style="color : violet;  padding: 6px;   text-shadow: 10px 10px 50px white, 0 0 50px blue">
            BMW M3 Competition и BMW M340i xDrive</h1>
        </div>
    </div>
    <div class="col-lg-12 pb-5">
        <div class="d-flex justify-content-center">
            <img src="https://autoru-mag.s3.yandex.net/2020/01/02/3a00ccd5850044898ca7eb543d00e670.jpg"
                 class="d-block w-70">
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-12 col-lg-12 py-3 ps-5">
                <h5>
                    Автомобили M BMW 3 серии сочетают в себе атлетичные пропорции и классический четырехдверный
                    трехобъемный
                    дизайн с фирменной спортивностью M. Возглавляет пару эффектных седанов BMW M3 Competition с
                    феноменальными 510 л.с. и 650 Нм крутящего момента. Этот автомобиль, оснащенный высокомощным
                    двигателем
                    BMW M TwinPower Turbo, 8-ступенчатой АКПП M Steptronic с технологией Drivelogic, опциональной
                    системой
                    полного привода M xDrive*, активным дифференциалом M и многочисленными технологиями,
                    позаимствованными в
                    автоспорте, гарантирует максимальные динамические характеристики – как в повседневной эксплуатации,
                    так
                    и на гоночных трассах. BMW M340i xDrive: помимо привлекательного дизайна этот спортивный седан
                    впечатляет особенно сбалансированным сочетанием атлетизма, экономичности и практичности в
                    повседневной
                    эксплуатации.
                    *M xDrive предлагается ориентировочно с лета 2021 года.
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 pb-3">
    <div class="d-flex justify-content-center"><h1
            style="color : violet;  padding: 6px;   text-shadow: 10px 10px 50px white, 0 0 50px blue">
        BMW i4</h1>
    </div>
</div>
<div class="col-lg-12 pb-5">
    <div class="d-flex justify-content-center">
        <img src="https://autoru-mag.s3.yandex.net/2020/01/02/473c1c61cc9d447ca22621c3fb06f981.jpg"
             class="d-block w-70">
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-12 col-lg-12 py-3 ps-5">
            <h5>
                Новый электрокар BMW i4 — прямой конкурент Tesla Model 3 на мировом рынке. И если судить только по
                техническим характеристикам, то модель BMW в этой битве выглядит не слишком убедительно. По
                предварительной информации, флагманская модификация i4 получит 530-сильный мотор (мощнее, чем новая М3!)
                и батарею на 80 кВт-ч, которой будет хватать на 600 километров пути. Но разгон до сотни и максимальная
                скорость у i4 не впечатляют — 4 секунды и 200 километров в час соответственно. Остаётся надеяться на то,
                что заявленный запас хода окажется близок к реальности. И что батарея действительно будет заряжаться на
                80% за 35 минут – при условии зарядного устройства с постоянным током на 150 кВт.
            </h5>
        </div>
    </div>
</div>

<div class="col-lg-12 pb-3">
    <div class="d-flex justify-content-center"><h1
            style="color : violet;  padding: 6px;   text-shadow: 10px 10px 50px white, 0 0 50px blue">
        Porsche Taycan Cross Turismo</h1>
    </div>
</div>
<div class="col-lg-12 pb-5">
    <div class="d-flex justify-content-center">
        <img src="https://autoru-mag.s3.yandex.net/2020/01/02/c5af5bd586b94b9592a0ccfd9b4c4add.jpg"
             class="d-block w-70">
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-12 col-lg-12 py-3 ps-5">
            <h5>
                У кого с Теслой точно не будет проблем, так это у Taycan Cross Turismo. Во-первых, Taycan в кузове седан
                уже приняли на «ура», даже несмотря на высокие цены. Во-вторых, у Cross Turismo пока нет прямых
                конкурентов — едва ли к ним можно причислить Jaguar I-Pace и другие электрокроссоверы европейских
                брендов. По части техники версия Cross Turismo будет полностью повторять седан Taycan, а это значит, что
                мы вправе ожидать электрический вседорожный универсал, который сможет разгоняться до 100 километров в
                час за три секунды. Скорая премьера Cross Turismo уже подтверждена исполнительным гендиректором Оливером
                Блюме — ждём!
            </h5>
        </div>
    </div>
</div>

<div class="col-lg-12 pb-3">
    <div class="d-flex justify-content-center"><h1
            style="color : violet;  padding: 6px;   text-shadow: 10px 10px 50px white, 0 0 50px blue">
        Mercedes-AMG One</h1>
    </div>
</div>
<div class="col-lg-12 pb-5">
    <div class="d-flex justify-content-center">
        <img src="https://autoru-mag.s3.yandex.net/2020/01/02/61270ccdc39f4ed7a5a34ef6bf97f2de.jpg"
             class="d-block w-70">
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-12 col-lg-12 py-3 ps-5">
            <h5>
                2020 год обещает стать весьма урожайным по части супер- и гиперкаров. Например, компания Mercedes-Benz
                наконец-то должна представить товарную версию своего гиперкара One, оснащённого гибридной силовой
                установкой на основе 1,6-литрового двигателя V6 из Формулы-1. Как признаются в Daimler, дополнительное
                время потребовалось для адаптации сугубо гоночного мотора к жизни «на улицах», но основные проблемы с
                силовым агрегатом уже решены.

                Впрочем, не только Mercedes-Benz порадует нас очень быстрыми машинами: поскольку в гонках на
                выносливость WEC вступает в силу новый регламент и балом теперь будут править гиперкары, стоит ждать
                интересные новинки от Aston Martin и McLaren, и даже от Toyota с Peugeot.
            </h5>
        </div>
    </div>
</div>

<div class="dropdown " style="position: absolute; top:950px; right:50px">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
       data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-justify"></i>
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-justify"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0
                  1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0
                  1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item"
               href="https://www.bmw.ru/ru/all-models/m-series/m3-sedan/2020/bmw-3-series-sedan-m-automobiles-overview.html">BMW
            M3</a></li>
        <li><a class="dropdown-item"
               href="https://www.bmw.ru/ru/topics/fascination-bmw/conceptBMW/bmw-concept-i4-highlights.html">BMW i4</a>
        </li>
        <li><a class="dropdown-item"
               href="https://www.porsche.com/russia/models/taycan/taycan-models/taycan-4-cross-turismo/">Porsche Taycan
            Cross Turismo</a></li>
    </ul>
</div>

</body>